<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>StuddyBuddy - Homepage</title>
<link href="/css/iStyle.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
</head>

<body>


   <div class="signin">

<form>
<h2 style="color:#fff;">StudyBuddy</h2>
<a href="cong.html"><input type="button" value="Study Buddies" /></a><br /><br />
<a href="/searchbar"><input type="button" value="Classes" /></a><br /><br />
<a href="/profile"><input type="button" value="Profile" /></a><br /><br />
<!--<a href="cong.html"><input type="button" value="Calendar" /></a><br /><br />-->
<div id="container">
</form>
</div>


</body>
</html>
