<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
<link href="/css/profile.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>
  <body>
    <div class="card middle">
      <div class="top-section">
        <img src="/images/p.png" alt="">
        <div class="menuicon">
          <span class="s1"></span>
          <span class="s2"></span>
        </div>
        <div class="name">
           Natalie<br>
          <span>Diaz</span>
        </div>
      </div>

      <div class="info-section">
        <h2>About
          <div class="border"></div>
        </h2>
          <p>CogSci major w/ specialization in Design & Intearctions.
          </p>
          <hr>
          <p>I'm very active, i go to gym and play basketball. I also like to play video games here and there.</p>
        <h2>contact
          <div class="border"></div>
        </h2>
        <div class="s-m">
          <a href="" class="fab fa-facebook-f"></a>
          <a href="" class="fab fa-twitter"></a>
          <a href="" class="fab fa-instagram"></a>
          
        </div>
      </div>
    </div>
  </body>
</html>
